# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\SurfaceBook\Downloads\tm-movie-booking-application-v2-final_code\searching_algorithims_01_linear_search\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
